@media screen and (min-width: 768px) {
  #hamburger {
    display: none;
  }

  .desktop {
    display: block;
  }

  .header-img{
    max-width: 90%;
    height: 100%;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 30%;
    gap: 20px;
    padding-right: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .nav-items {
    transition: all 1s ease-out;
    background-color: #fff;
  }

  .nav-items:hover,
  .nav-items:focus {
    background-color: #7f8cff;
  }

  .Introduction {
    background: url(Desktop/Headerbg.svg) no-repeat, #fff;
    text-align: left;
    background-size: contain;
  }

  .contact-container {
    background: url(Desktop/contactform.png) no-repeat center, #6070ff;
    background-size: contain;
  }

  .mobile {
    display: none;
  }

  .description-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .list-less {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .about-content {
    display: flex;
    align-items: flex-end;
    padding-bottom: 100px;
  }

  .about-1 {
    width: 50%;
  }

  .langs {
    display: flex;
    margin-top: 5px;
  }

  .lang-form {
    display: flex;
    flex-direction: column;
  }

  .c-desc-container {
    width: 35%;
  }

  .project-reverse {
    border-radius: 25px;
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
  }

  .project-normal {
    border-radius: 25px;
    display: flex;
    padding: 10px;
  }

  .project-content {
    width: 45%;
    align-items: flex-start;
  }

  .modal-desc {
    display: grid;
    grid-template-columns: 2fr 1fr;
    object-fit: contain;
  }

  .modal-buttom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 15px;
    margin-left: 10px;
  }

  .line {
    border-top: 1px solid #ebecf0;
    width: 90%;
  }
}
