
body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 0;
  margin: 0;
}

.nav-bar {
  color: #6070ff;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.logo {
  color: #6070ff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  align-self: center;
  padding-left: 50px;
}

.Introduction {
  border-radius: 0 0 0 75px;
  background: url(Assets/header.png) no-repeat center, #fff;
  background-size: contain;
}

.Intro-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 100px;
  margin-left: 9%;
}

.Intro {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
}

.description {
  color: #344563;
}

.media-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  gap: 8px;
  color: #7f8cff;
}

.contact {
  align-self: flex-start;
}

.icons {
  margin-top: 10px;
  padding-left: 0;
  display: flex;
  gap: 12px;
  list-style: none;
}

.right {
  margin-left: 25px;
}

.media-link {
  color: #505f79;
  gap: 12px;
}

.media-link:hover {
  color: aqua;
}

.sample-project {
  background-color: #fff;
  margin: 100px 24px;
  border-radius: 16px;
  padding: 10px;
  display: grid;
  gap: 1px;
  grid-template-areas: 'header header' 'description description';
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-header {
  grid-area: header;
}

.project-description {
  grid-area: description;
}

.image-holder {
  margin: auto;
  border-radius: 8px;
}

.header-img {
  width: 100%;
  object-fit: contain;
}

.description-title {
  color: #172b4d;
  padding: 0 0 0 12px;
  width: 100%;
  line-height: 44px;
  font-weight: 800;
  font-size: 40px;
  font-style: normal;
  margin: 24px 0 0 0;
}

.subtitle-container {
  font-size: 13px;
  font-weight: 600;
  margin-top: 0;
  border-top: 0;
}

.subtitle-items {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 16px;
  gap: 30px;
}

.list-less {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  list-style: none;
}

.list {
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
}

.tag-container {
  padding: 0 0 0 15px;
  position: relative;
  left: -50px;
}

.tag-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  color: #6070ff;
}

.tag-btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  background-color: #d9d9f5;
  border-radius: 5px;
  color: #6070ff;
  flex-grow: 0;
  padding: 0 4px 0 4px;
}

.buttom-container {
  display: flex;
  padding: 0 0 0 14px;
  justify-content: flex-start;
  align-items: center;
}

.project-buttom {
  background-color: transparent;
  color: #396df2;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
}

.bg {
  background-color: #fff;
}

.bg1 {
  background-color: #fa9c66c9;
  border-radius: 8px;
}

#about-myself {
  background-color: #fff;
  border-radius: 0 100px 0 0;
}

.about-title-box {
  padding: 114px 24px 0;
}

.about-header {
  font-size: 40px;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.about-desc-box {
  margin: 10px 15px 0;
}

.description-item {
  color: #344563;
}

.skills-box {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #dfe1e6;
  justify-content: space-between;
}

.click {
  border: none;
}

.skills li {
  list-style: none;
}

.skill-link {
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.v-icon {
  width: 13px;
  height: 13px;
  border-color: #acb7c3;
  content: '';
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  transform: rotate(135deg);
  cursor: pointer;
}

.rotate {
  transform: rotate(45deg);
}

.languauge-box {
  width: 100%;
}

.lang {
  margin: 10px;
  padding: 10px;
  background-color: #f7f7f9;
  list-style: none;
  border-radius: 10px;
}

.lang-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.html-icon {
  background-image: url(./Assets/HTML.png);
}

.js-icon {
  background-image: url(./Assets/JS.png);
}

.css-icon {
  background-image: url(./Assets/CSS.png);
}

.lang-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 2px;
  background-size: cover;
}

.lang-title {
  color: #253858;
}

#contact-section {
  margin: 0;
  border: 0;
  padding: 0;
}

.contact-container {
  border-top-left-radius: 100px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  border-color: white;
  background: url(Assets/contactmebg.png) no-repeat center, #6070ff;
  background-position: 180px 20px;
  background-size: contain;
}

.c-title-container {
  font-size: 17px;
  line-height: 20px;
  padding-top: 100px;
}

.c-desc-container {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  text-align: center;
  margin: 0 220px 50px 20px;
}

.customer-info {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
  padding: 10px;
  width: 85%;
}

.customer-message {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-size: 15px;
  color: #b3bac5;
  padding: 10px;
  width: 85%;
}

.submit {
  letter-spacing: 0.03em;
  color: #6070ff;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.submit:hover {
  scale: 1.2;
}

.project-buttom:hover {
  background: #6070ff;
  opacity: 0.5;
  color: #fff;
}

.project-buttom:enabled {
  scale: 1.2;
}

.project-buttom:disabled {
  border-color: black;
}

.project-buttom:active {
  background: #2230d2;
}

.desktop {
  display: none;
}

.nav-list {
  display: none;
}

#hamburger {
  padding-right: 20px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #6070ff;
  opacity: 0.9; 
  position: fixed;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.mobile-menu i {
  color: #fff;
  font-size: 30px;
  right: 0;
  margin-left: 85%;
  margin-top: 5%;
}

.mobile-menu i:hover {
  cursor: pointer;
}

.mobile-menu-items {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-left: 10%;
  margin-top: 5%;
}

.mobile-menu-items:hover {
  cursor: pointer;
}
